# **–†–æ–∑—à–∏—Ä–µ–Ω–∏–π –ø–ª–∞–Ω-–∫–æ–Ω—Ç–µ–Ω—Ç –≥—Ä—É–ø–æ–≤–æ–≥–æ –∑–∞–Ω—è—Ç—Ç—è**  
## **–¢–µ–º–∞ 2. –ó–∞–Ω—è—Ç—Ç—è 7. –û—Å–Ω–æ–≤–∏ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–Ω—è –∑–∞—Å–æ–±—ñ–≤ –≤–∏–±–æ—Ä—É —ñ–Ω—Ñ–æ—Ä–º–∞—Ü—ñ—ó –∑ –±–∞–∑–∏ –¥–∞–Ω–∏—Ö. –ü–æ–±—É–¥–æ–≤–∞ –∑–∞–ø–∏—Ç—ñ–≤.**  
### **1. –û—Å–Ω–æ–≤–∏ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–Ω—è –∑–∞—Å–æ–±—ñ–≤ DML SQL.**  
### **2. –û—Å–Ω–æ–≤–∏ –ø–æ–±—É–¥–æ–≤–∏ –∑–∞–ø–∏—Ç—ñ–≤ –¥–ª—è –≤–∏–±–æ—Ä—É —ñ–Ω—Ñ–æ—Ä–º–∞—Ü—ñ—ó –∑ –±–∞–∑–∏ –¥–∞–Ω–∏—Ö.**  

---

## **1. –í—Å—Ç—É–ø (10 —Ö–≤)**  

### **1.1. –ú–µ—Ç–∞ –∑–∞–Ω—è—Ç—Ç—è**  
- –û–∑–Ω–∞–π–æ–º–∏—Ç–∏ —Å–ª—É—Ö–∞—á—ñ–≤ —ñ–∑ –æ—Å–Ω–æ–≤–Ω–∏–º–∏ –∑–∞—Å–æ–±–∞–º–∏ —Ä–æ–±–æ—Ç–∏ –∑ –¥–∞–Ω–∏–º–∏ —É SQL (DML ‚Äì Data Manipulation Language).  
- –ù–∞–≤—á–∏—Ç–∏ —Å–∫–ª–∞–¥–∞—Ç–∏ –∑–∞–ø–∏—Ç–∏ –¥–ª—è –≤–∏–±–æ—Ä—É —ñ–Ω—Ñ–æ—Ä–º–∞—Ü—ñ—ó (`SELECT`) —Ç–∞ –º–æ–¥–∏—Ñ—ñ–∫–∞—Ü—ñ—ó (`INSERT`, `UPDATE`, `DELETE`).  
- –í–∏–∫–æ–Ω–∞—Ç–∏ –ø—Ä–∞–∫—Ç–∏—á–Ω—ñ –∑–∞–≤–¥–∞–Ω–Ω—è –∑—ñ —Å—Ç–≤–æ—Ä–µ–Ω–Ω—è —Ç–∞ —Ç–µ—Å—Ç—É–≤–∞–Ω–Ω—è SQL-–∑–∞–ø–∏—Ç—ñ–≤ —É PostgreSQL.  

### **1.2. –û—á—ñ–∫—É–≤–∞–Ω—ñ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–∏**  
–ü—ñ—Å–ª—è –∑–∞–Ω—è—Ç—Ç—è —Å–ª—É—Ö–∞—á—ñ –∑–º–æ–∂—É—Ç—å:  
‚úÖ –í–∏–∫–æ–Ω—É–≤–∞—Ç–∏ –º–∞–Ω—ñ–ø—É–ª—è—Ü—ñ—ó –∑ –¥–∞–Ω–∏–º–∏ (`INSERT`, `UPDATE`, `DELETE`).  
‚úÖ –°—Ç–≤–æ—Ä—é–≤–∞—Ç–∏ –∑–∞–ø–∏—Ç–∏ –≤–∏–±–æ—Ä—É –¥–∞–Ω–∏—Ö (`SELECT`).  
‚úÖ –í–∏–∫–æ—Ä–∏—Å—Ç–æ–≤—É–≤–∞—Ç–∏ –æ–ø–µ—Ä–∞—Ç–æ—Ä–∏ —Ñ—ñ–ª—å—Ç—Ä–∞—Ü—ñ—ó (`WHERE`), –≥—Ä—É–ø—É–≤–∞–Ω–Ω—è (`GROUP BY`), —Å–æ—Ä—Ç—É–≤–∞–Ω–Ω—è (`ORDER BY`).  
‚úÖ –í–∏–∫–æ–Ω—É–≤–∞—Ç–∏ –æ–±‚Äô—î–¥–Ω–∞–Ω–Ω—è —Ç–∞–±–ª–∏—Ü—å (`JOIN`).  

---

## **2. –û—Å–Ω–æ–≤–∏ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–Ω—è –∑–∞—Å–æ–±—ñ–≤ DML SQL (40 —Ö–≤)**  

### **2.1. –û–≥–ª—è–¥ –æ–ø–µ—Ä–∞—Ç–æ—Ä—ñ–≤ DML**  
üìå **DML (Data Manipulation Language)** ‚Äì —Ü–µ –Ω–∞–±—ñ—Ä –æ–ø–µ—Ä–∞—Ç–æ—Ä—ñ–≤, —â–æ –¥–æ–∑–≤–æ–ª—è—é—Ç—å –≤–∏–∫–æ–Ω—É–≤–∞—Ç–∏ –∑–º—ñ–Ω–∏ –≤ –±–∞–∑—ñ –¥–∞–Ω–∏—Ö. –û—Å–Ω–æ–≤–Ω—ñ –æ–ø–µ—Ä–∞—Ç–æ—Ä–∏:  
- **INSERT** ‚Äì –¥–æ–¥–∞–≤–∞–Ω–Ω—è –¥–∞–Ω–∏—Ö.  
- **UPDATE** ‚Äì –æ–Ω–æ–≤–ª–µ–Ω–Ω—è –¥–∞–Ω–∏—Ö.  
- **DELETE** ‚Äì –≤–∏–¥–∞–ª–µ–Ω–Ω—è –¥–∞–Ω–∏—Ö.  
- **SELECT** ‚Äì –≤–∏–±—ñ—Ä–∫–∞ —ñ–Ω—Ñ–æ—Ä–º–∞—Ü—ñ—ó (—Ä–æ–∑–≥–ª—è–¥–∞—î—Ç—å—Å—è –≤ –Ω–∞—Å—Ç—É–ø–Ω–æ–º—É —Ä–æ–∑–¥—ñ–ª—ñ).  

---

### **2.2. –û–ø–µ—Ä–∞—Ç–æ—Ä `INSERT` ‚Äì –î–æ–¥–∞–≤–∞–Ω–Ω—è –¥–∞–Ω–∏—Ö**  
üìå **–ü—Ä–∏–∫–ª–∞–¥ —Å—Ç–≤–æ—Ä–µ–Ω–Ω—è —Ç–∞–±–ª–∏—Ü—ñ `Personnel` (–û—Å–æ–±–æ–≤–∏–π —Å–∫–ª–∞–¥)**  
```sql
CREATE TABLE Personnel (
    personnel_id SERIAL PRIMARY KEY,
    full_name VARCHAR(100) NOT NULL,
    rank VARCHAR(50) NOT NULL,
    position VARCHAR(100) NOT NULL,
    unit VARCHAR(100) NOT NULL
);
```
üìå **–î–æ–¥–∞–≤–∞–Ω–Ω—è –∑–∞–ø–∏—Å—ñ–≤ —É —Ç–∞–±–ª–∏—Ü—é**  
```sql
INSERT INTO Personnel (full_name, rank, position, unit)
VALUES ('–Ü–≤–∞–Ω –ü–µ—Ç—Ä–æ–≤', '–ö–∞–ø—ñ—Ç–∞–Ω', '–ö–æ–º–∞–Ω–¥–∏—Ä —Ä–æ—Ç–∏', '–ë–∞—Ç–∞–ª—å–π–æ–Ω A');
```
üìå **–î–æ–¥–∞–≤–∞–Ω–Ω—è –∫—ñ–ª—å–∫–æ—Ö –∑–∞–ø–∏—Å—ñ–≤**  
```sql
INSERT INTO Personnel (full_name, rank, position, unit)
VALUES
    ('–ê–Ω–¥—Ä—ñ–π –°–∏–¥–æ—Ä–µ–Ω–∫–æ', '–õ–µ–π—Ç–µ–Ω–∞–Ω—Ç', '–û—Ñ—ñ—Ü–µ—Ä –∑–≤‚Äô—è–∑–∫—É', '–ë–∞—Ç–∞–ª—å–π–æ–Ω B'),
    ('–û–ª–µ–∫—Å–∞–Ω–¥—Ä –®–µ–≤—á–µ–Ω–∫–æ', '–ú–∞–π–æ—Ä', '–ó–∞—Å—Ç—É–ø–Ω–∏–∫ –∫–æ–º–∞–Ω–¥–∏—Ä–∞', '–ë–∞—Ç–∞–ª—å–π–æ–Ω A');
```

---

### **2.3. –û–ø–µ—Ä–∞—Ç–æ—Ä `UPDATE` ‚Äì –û–Ω–æ–≤–ª–µ–Ω–Ω—è –¥–∞–Ω–∏—Ö**  
üìå **–û–Ω–æ–≤–ª–µ–Ω–Ω—è –∑–≤–∞–Ω–Ω—è –≤—ñ–π—Å—å–∫–æ–≤–æ—Å–ª—É–∂–±–æ–≤—Ü—è**  
```sql
UPDATE Personnel SET rank = '–ú–∞–π–æ—Ä' WHERE full_name = '–Ü–≤–∞–Ω –ü–µ—Ç—Ä–æ–≤';
```
üìå **–û–Ω–æ–≤–ª–µ–Ω–Ω—è –ø—ñ–¥—Ä–æ–∑–¥—ñ–ª—É –¥–ª—è –≤—Å—ñ—Ö –∫–∞–ø—ñ—Ç–∞–Ω—ñ–≤**  
```sql
UPDATE Personnel SET unit = '–ë–∞—Ç–∞–ª—å–π–æ–Ω C' WHERE rank = '–ö–∞–ø—ñ—Ç–∞–Ω';
```

---

### **2.4. –û–ø–µ—Ä–∞—Ç–æ—Ä `DELETE` ‚Äì –í–∏–¥–∞–ª–µ–Ω–Ω—è –¥–∞–Ω–∏—Ö**  
üìå **–í–∏–¥–∞–ª–∏—Ç–∏ –∑–∞–ø–∏—Å –∫–æ–Ω–∫—Ä–µ—Ç–Ω–æ–≥–æ –≤—ñ–π—Å—å–∫–æ–≤–æ—Å–ª—É–∂–±–æ–≤—Ü—è**  
```sql
DELETE FROM Personnel WHERE full_name = '–ê–Ω–¥—Ä—ñ–π –°–∏–¥–æ—Ä–µ–Ω–∫–æ';
```
üìå **–í–∏–¥–∞–ª–∏—Ç–∏ –≤—Å—ñ—Ö –≤—ñ–π—Å—å–∫–æ–≤–∏—Ö —ñ–∑ –ø—ñ–¥—Ä–æ–∑–¥—ñ–ª—É "–ë–∞—Ç–∞–ª—å–π–æ–Ω B"**  
```sql
DELETE FROM Personnel WHERE unit = '–ë–∞—Ç–∞–ª—å–π–æ–Ω B';
```
üìå **–í–∏–¥–∞–ª–∏—Ç–∏ –≤—Å—ñ –∑–∞–ø–∏—Å–∏ –∑ —Ç–∞–±–ª–∏—Ü—ñ**  
```sql
DELETE FROM Personnel;
```

> ‚ö† **–û–±–µ—Ä–µ–∂–Ω–æ!** –Ø–∫—â–æ `DELETE` –≤–∏–∫–æ–Ω—É—î—Ç—å—Å—è –±–µ–∑ `WHERE`, —Ç–æ –≤–∏–¥–∞–ª—è—é—Ç—å—Å—è –≤—Å—ñ –∑–∞–ø–∏—Å–∏ –≤ —Ç–∞–±–ª–∏—Ü—ñ.

---

## **3. –û—Å–Ω–æ–≤–∏ –ø–æ–±—É–¥–æ–≤–∏ –∑–∞–ø–∏—Ç—ñ–≤ –¥–ª—è –≤–∏–±–æ—Ä—É —ñ–Ω—Ñ–æ—Ä–º–∞—Ü—ñ—ó –∑ –±–∞–∑–∏ –¥–∞–Ω–∏—Ö (50 —Ö–≤)**  

### **3.1. –û–ø–µ—Ä–∞—Ç–æ—Ä `SELECT` ‚Äì –í–∏–±—ñ—Ä–∫–∞ –¥–∞–Ω–∏—Ö**
üìå **–í–∏–±—Ä–∞—Ç–∏ –≤—Å—ñ –∑–∞–ø–∏—Å–∏ –∑ —Ç–∞–±–ª–∏—Ü—ñ**  
```sql
SELECT * FROM Personnel;
```
üìå **–í–∏–±—Ä–∞—Ç–∏ –ª–∏—à–µ –¥–µ—è–∫—ñ —Å—Ç–æ–≤–ø—Ü—ñ**  
```sql
SELECT full_name, rank FROM Personnel;
```
üìå **–§—ñ–ª—å—Ç—Ä—É–≤–∞—Ç–∏ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–∏ –∑–∞ —É–º–æ–≤–∞–º–∏ (`WHERE`)**  
```sql
SELECT * FROM Personnel WHERE rank = '–ö–∞–ø—ñ—Ç–∞–Ω';
```
üìå **–°–æ—Ä—Ç—É–≤–∞–Ω–Ω—è (`ORDER BY`)**  
```sql
SELECT * FROM Personnel ORDER BY full_name ASC;
```

---

### **3.2. –í–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–Ω—è `JOIN` –¥–ª—è –æ–±‚Äô—î–¥–Ω–∞–Ω–Ω—è —Ç–∞–±–ª–∏—Ü—å**
üìå **–ü—Ä–∏–∫–ª–∞–¥ —Å—Ç–≤–æ—Ä–µ–Ω–Ω—è —Ç–∞–±–ª–∏—Ü—ñ `Training` (–ù–∞–≤—á–∞–Ω–Ω—è –ø–µ—Ä—Å–æ–Ω–∞–ª—É)**  
```sql
CREATE TABLE Training (
    training_id SERIAL PRIMARY KEY,
    course_name VARCHAR(100) NOT NULL,
    start_date DATE NOT NULL,
    end_date DATE NOT NULL,
    instructor VARCHAR(100) NOT NULL,
    personnel_id INT REFERENCES Personnel(personnel_id) ON DELETE CASCADE
);
```
üìå **–û—Ç—Ä–∏–º–∞—Ç–∏ —Å–ø–∏—Å–æ–∫ –≤—ñ–π—Å—å–∫–æ–≤–∏—Ö —Ä–∞–∑–æ–º —ñ–∑ —ó—Ö–Ω—ñ–º–∏ –∫—É—Ä—Å–∞–º–∏**  
```sql
SELECT p.full_name, t.course_name, t.start_date, t.end_date
FROM Personnel p
JOIN Training t ON p.personnel_id = t.personnel_id;
```

---

### **3.3. –í–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–Ω—è –∞–≥—Ä–µ–≥–∞—Ç–Ω–∏—Ö —Ñ—É–Ω–∫—Ü—ñ–π**
üìå **–ü—ñ–¥—Ä–∞—Ö—É–≤–∞—Ç–∏ –∫—ñ–ª—å–∫—ñ—Å—Ç—å –≤—ñ–π—Å—å–∫–æ–≤–∏—Ö —É –∫–æ–∂–Ω–æ–º—É –ø—ñ–¥—Ä–æ–∑–¥—ñ–ª—ñ**  
```sql
SELECT unit, COUNT(*) AS num_personnel FROM Personnel GROUP BY unit;
```
üìå **–í–∏–∑–Ω–∞—á–∏—Ç–∏ —Å–µ—Ä–µ–¥–Ω—é —Ç—Ä–∏–≤–∞–ª—ñ—Å—Ç—å –∫—É—Ä—Å—ñ–≤**  
```sql
SELECT AVG(end_date - start_date) AS avg_duration FROM Training;
```

---

### **3.4. –í–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–Ω—è –ø—ñ–¥–∑–∞–ø–∏—Ç—ñ–≤**
üìå **–û—Ç—Ä–∏–º–∞—Ç–∏ –≤—ñ–π—Å—å–∫–æ–≤–∏—Ö, —è–∫—ñ —â–µ –Ω–µ –ø—Ä–æ—Ö–æ–¥–∏–ª–∏ –∂–æ–¥–Ω–æ–≥–æ –∫—É—Ä—Å—É**  
```sql
SELECT * FROM Personnel WHERE personnel_id NOT IN (SELECT personnel_id FROM Training);
```

üìå **–û—Ç—Ä–∏–º–∞—Ç–∏ –ø—ñ–¥—Ä–æ–∑–¥—ñ–ª–∏, –¥–µ –ø–æ–Ω–∞–¥ 5 –æ—Å—ñ–±**  
```sql
SELECT unit FROM Personnel GROUP BY unit HAVING COUNT(*) > 5;
```

---

## **4. –ü—Ä–∞–∫—Ç–∏—á–Ω—ñ –∑–∞–≤–¥–∞–Ω–Ω—è (30 —Ö–≤)**  
‚úÖ **–ó–∞–≤–¥–∞–Ω–Ω—è 1**: **–î–æ–¥–∞—Ç–∏ –Ω–æ–≤–æ–≥–æ –≤—ñ–π—Å—å–∫–æ–≤–æ–≥–æ —Ç–∞ –æ–Ω–æ–≤–∏—Ç–∏ –π–æ–≥–æ –ø–æ—Å–∞–¥—É —á–µ—Ä–µ–∑ `UPDATE`.**  
‚úÖ **–ó–∞–≤–¥–∞–Ω–Ω—è 2**: **–°—Ç–≤–æ—Ä–∏—Ç–∏ –≤–∏–±—ñ—Ä–∫—É –≤—Å—ñ—Ö –≤—ñ–π—Å—å–∫–æ–≤–∏—Ö, —è–∫—ñ –º–∞—é—Ç—å –∑–≤–∞–Ω–Ω—è –Ω–µ –Ω–∏–∂—á–µ "–ú–∞–π–æ—Ä".**  
‚úÖ **–ó–∞–≤–¥–∞–Ω–Ω—è 3**: **–ó–Ω–∞–π—Ç–∏ –≤—Å—ñ—Ö –≤—ñ–π—Å—å–∫–æ–≤–∏—Ö, —è–∫—ñ –ø—Ä–æ–π—à–ª–∏ –∫—É—Ä—Å "–¢–∞–∫—Ç–∏—á–Ω–∞ –º–µ–¥–∏—Ü–∏–Ω–∞".**  
‚úÖ **–ó–∞–≤–¥–∞–Ω–Ω—è 4**: **–û—Ç—Ä–∏–º–∞—Ç–∏ —Å–ø–∏—Å–æ–∫ –ø—ñ–¥—Ä–æ–∑–¥—ñ–ª—ñ–≤, —É —è–∫–∏—Ö –∫—ñ–ª—å–∫—ñ—Å—Ç—å –≤—ñ–π—Å—å–∫–æ–≤–∏—Ö –ø–µ—Ä–µ–≤–∏—â—É—î 3.**  

üìå **–ü—Ä–∏–∫–ª–∞–¥–∏ —Ä—ñ—à–µ–Ω—å**  
```sql
INSERT INTO Personnel (full_name, rank, position, unit) VALUES
('–î–º–∏—Ç—Ä–æ –ö–æ–≤–∞–ª–µ–Ω–∫–æ', '–°–µ—Ä–∂–∞–Ω—Ç', '–ú–µ—Ö–∞–Ω—ñ–∫', '–ë–∞—Ç–∞–ª—å–π–æ–Ω C');

UPDATE Personnel SET position = '–°—Ç–∞—Ä—à–∏–π –º–µ—Ö–∞–Ω—ñ–∫' WHERE full_name = '–î–º–∏—Ç—Ä–æ –ö–æ–≤–∞–ª–µ–Ω–∫–æ';

SELECT full_name, rank FROM Personnel WHERE rank >= '–ú–∞–π–æ—Ä';

SELECT full_name FROM Personnel p
JOIN Training t ON p.personnel_id = t.personnel_id
WHERE t.course_name = '–¢–∞–∫—Ç–∏—á–Ω–∞ –º–µ–¥–∏—Ü–∏–Ω–∞';
```

---

## **5. –í–∏—Å–Ω–æ–≤–∫–∏ —Ç–∞ –ø—ñ–¥—Å—É–º–∫–∏ –∑–∞–Ω—è—Ç—Ç—è (10 —Ö–≤)**  
‚úÖ **–û—Å–Ω–æ–≤–Ω—ñ –≤–∏—Å–Ω–æ–≤–∫–∏**:
- **DML (INSERT, UPDATE, DELETE)** –¥–æ–∑–≤–æ–ª—è—é—Ç—å –∑–º—ñ–Ω—é–≤–∞—Ç–∏ –¥–∞–Ω—ñ –≤ –±–∞–∑—ñ.
- **SELECT** ‚Äì –∫–ª—é—á–æ–≤–∏–π –æ–ø–µ—Ä–∞—Ç–æ—Ä –¥–ª—è –æ—Ç—Ä–∏–º–∞–Ω–Ω—è —ñ–Ω—Ñ–æ—Ä–º–∞—Ü—ñ—ó.
- **JOIN, GROUP BY, HAVING, –ø—ñ–¥–∑–∞–ø–∏—Ç–∏** —Ä–æ–∑—à–∏—Ä—é—é—Ç—å –º–æ–∂–ª–∏–≤–æ—Å—Ç—ñ –≤–∏–±—ñ—Ä–∫–∏.

üöÄ **–ö–ª—é—á–æ–≤–∏–π –º–µ—Å–µ–¥–∂**:  
**–ó–Ω–∞–Ω–Ω—è SQL-–∑–∞–ø–∏—Ç—ñ–≤ —î –∫—Ä–∏—Ç–∏—á–Ω–æ –≤–∞–∂–ª–∏–≤–∏–º –¥–ª—è –µ—Ñ–µ–∫—Ç–∏–≤–Ω–æ—ó —Ä–æ–±–æ—Ç–∏ –∑ –±–∞–∑–∞–º–∏ –¥–∞–Ω–∏—Ö —É –≤—ñ–π—Å—å–∫–æ–≤–∏—Ö —ñ–Ω—Ñ–æ—Ä–º–∞—Ü—ñ–π–Ω–∏—Ö —Å–∏—Å—Ç–µ–º–∞—Ö.**